
.form-container{
    width: 80%;
    margin:auto;
    
}
.title{
    color: blue;
    text-align: center
}
.product-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin: 24px
}
.product-form{
    display: grid;
}
.campo{
    margin-bottom: 10px;
}
