<div class="list-container">
    <h2 class="title">Lista de Productos</h2>
    <div class="product-container">
        <form class="product-form" *ngFor="let product of products">    
            <input type="file">
            <label for="name" >ID</label>
            <input class="campo" type="text" placeholder="name" id="nombre" disabled value={{product.id}}/>
            <label for="name" >Nombre</label>
            <input class="campo" type="text" placeholder="name" id="nombre" disabled value={{product.name}}/>
            <label>Precio</label>
            <input class="campo" type="text" placeholder="price" id="nombre" disabled value={{product.price}}>
            <label>Cantidad</label>
            <input class="campo" type="text" placeholder="count" id="nombre" disabled value={{product.stock}} >
            <label>Ciudades</label>
            <input type="text" placeholder="sin ciudades por ahora">
        </form>

    </div>
    <!-- <form class="product-form" *ngFor="let product of products">    
        <input type="file">
        <label for="name" >ID</label>
        <input class="campo" type="text" placeholder="name" id="nombre" value={{product.id}}/>
        <label for="name" >Nombre</label>
        <input class="campo" type="text" placeholder="name" id="nombre" value={{product.name}}/>
        <label>Precio</label>
        <input class="campo" type="text" placeholder="price" id="nombre" value={{product.price}}>
        <label>Cantidad</label>
        <input class="campo" type="text" placeholder="count" id="nombre" value={{product.stock}} >
        <label>Ciudades</label>
        <input class="campo" type="text" placeholder="city" id="nombre" value ={{product.}}>
        <label>Observaciones</label>
        <textarea  placeholder="escribe aqui tus observaciones" name="observation"></textarea>
        <button type="button" id="bnt-enviar" [disabled]="btnDisabled" >CREAR PRODUCTO</button>
        <progress max="1000" [value]="product.price"></progress>
    </form> -->
</div>

<!-- {{products | json}} -->